services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - DEBUG=True
      - SMTP_HOST=localhost
    networks:
      - webrtc-network
    restart: unless-stopped

networks:
  webrtc-network:
    driver: bridge